---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/kais58/argo-cluster.git"
      path: kubernetes/apps/kube-system/external-secrets
      targetRevision: main
      ref: repo
    - repoURL: https://charts.external-secrets.io
      chart: external-secrets
      targetRevision: 1.2.1
      helm:
        releaseName: external-secrets
        valueFiles:
          - $repo/kubernetes/apps/kube-system/external-secrets/values.yaml
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    retry:
      limit: 1
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
