---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflare-tunnel-configmap
data:
  config.yaml: |
    ---
    originRequest:
      originServerName: "external.#{ cloudflare_domain }#"

    ingress:
      - hostname: "#{ cloudflare_domain }#"
        service: &svc https://cilium-gateway-external.kube-system.svc.cluster.local
      - hostname: "*.#{ cloudflare_domain }#"
        service: *svc
      - service: http_status:404
