fullnameOverride: "argocd"
configs:
  secret:
    argocdServerAdminPassword: #{ argo_password }#
    argocdServerAdminPasswordMtime: #{ current_datetime() }#
    githubSecret: #{ github_push_token() }#
